<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     
</head>
<body>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %} 
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

        <!-- {#this polls is the namespace of our polls add which is add in polls/urls.py
            he tutorial project has just one app, polls. In real Django projects, there might be 
            five, ten, twenty apps or more. How does Django differentiate the URL names between them? 
            For example, the polls app has a detail view, and so might an app on the same project that
             is for a blog. How does one make it so that Django knows which app view to create for a url
              when using the url template tag? The answer is to add namespaces to your URLconf.
               In the polls/urls.py file, go ahead and add an app_name to set the application namespace:
            #}
             -->
    {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>

